<h1>Kylie's Fun</h1>

<div class="row">
  <% @products.each do |product| %>
  <div class =”col-md-3”>
      <p><%= product.name %></p>
      <p><%= product.price %></p>
      <p><%= product.description %></p>
      <div>
        <img src="<%= product.image %>" width=”200” height =”200”>
      </div>
  </div>
  <%end%>
  
</div>

<%= link_to "New", "/products/new"%>