<ul>
  <li>Product: <%= @product.name %></li>
  <li class="<%=@product.sale_message %>">Price: <%= @product.price %>---<%=@product.sale_message%></li>
  <li>Supplier <%= @product.supplier.name %></li>
  <li>Tax: <%= @product.tax %></li>
  <li>Total: <%= @product.sum %></li>
  <li><%= @message %></li>

  <% @product.categories.each do |category| %>
    <p>Category: <%= category.name %></p>
  <% end %>
  
  <% @product.images. each do |image| %>
  <li><img src="<%=image.URL%>" width="300" height="auto"></li>
  <% end %>

</ul>

<% if current_user %>
  <%= form_tag "/carted_products", method: :post do%>
    <div>
      <%= label_tag :quantity, 'Quantity' %>
      <%= text_field_tag :quantity %>
    </div>
    <div>
      <%= hidden_field_tag :product_id, @product.id %>
    </div>
    <div>
      <%= submit_tag 'Add to Cart' %>
    </div>
  <% end %>
<% else %>
  <p>Please sign in to add items</p>
<% end %>


<%= link_to "Home", "/products" %>
<%= link_to "Edit", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>